* {
    font-size: 10px;
    padding: 0;
    margin: 0;
}

.divider {
    width: 100vw;
    height: 1rem;
    background-color: #570902;
}

.main {
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: #7b2820;
}
  
img.absolute {
    left: 50%;
    margin-left: -50%;
    position: absolute;
    opacity: 25%;
    z-index: 1;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    background-color: #25327c;
    padding: 20px;
    border-radius: 20px;
    z-index: 2;
    color: #ffffff;
}

#our-companies {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    align-items: center;
    justify-items: center;
    row-gap: 4rem;
    background: radial-gradient(circle, #bb3333 0%, #c53333 80%, #640000 100%);
    padding: 5%;
}

#our-companies h3 {
    font-size: 4rem;
    grid-column: 1 /span 5;
    background-color: #25327c;
    padding: 2rem;
    border-radius: 2rem;
    color: #ffffff;
}

#our-companies a {
    font-size: 2rem;
    background-color: #3852e9;
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
}

#our-companies a:hover {
    background-color: #0400ff66;
    color: #ff7878;
}