* {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#welcome-page {
    width: 100vw;
    height: 100vh;
    background-color: #599aab;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.5rem;
    background-color: #ffffff66;
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
}

#welcome-image {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    filter: blur(20px);
    opacity: 50%;
    z-index: 0;
}

#star1 {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: 40%;
    left: 20%;
    transform: rotate(21deg);
}

#star2 {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
    top: 80%;
    left: 80%;
    transform: rotate(13deg);
}

#star3 {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 1;
    top: 40%;
    left: 90%;
    transform: rotate(-23deg);
}

#star4 {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 20%;
    left: 75%;
    transform: rotate(-21deg);
}

#star5 {
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 1;
    top: 10%;
    left: 10%;
    transform: rotate(32deg);
}

#star6 {
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: 1;
    top: 70%;
    left: 10%;
    transform: rotate(-53deg);
}

#star7 {
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 1;
    top: 5%;
    left: 30%;
    transform: rotate(37deg);
}

#star8 {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: 85%;
    left: 50%;
    transform: rotate(-37deg);
}

#star9 {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    top: 20%;
    left: 90%;
    transform: rotate(58deg);
}

#star10 {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    top: 10%;
    left: 80%;
    transform: rotate(-31deg);
}

#star11 {
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 1;
    top: 50%;
    left: 5%;
    transform: rotate(96deg);
}

#star12 {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 10%;
    left: 5%;
    transform: rotate(-93deg);
}

#star13 {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: 60%;
    left: 80%;
    transform: rotate(39deg);
}

#star14 {
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: 1;
    top: 20%;
    left: 20%;
    transform: rotate(-76deg);
}

#star15 {
    position: absolute;
    width: 110px;
    height: 110px;
    z-index: 1;
    top: 70%;
    left: 65%;
    transform: rotate(76deg);
}

#star16 {
    position: absolute;
    width: 70px;
    height: 70px;
    z-index: 1;
    top: 60%;
    left: 20%;
    transform: rotate(47deg);
}

.star {
    filter: blur(2px);
}

#contact-info {
    background: rgb(0,42,255);
    background: radial-gradient(circle, rgba(0,42,255,1) 0%, rgba(255,0,0,1) 100%); 
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0 1rem 0;
}

#github-link {
    color: #000000;
}

#github-link, #phone-number, #mail {
    font-size: 6rem;
    background-color: #ffffff66;
    padding: 10px;
    border-radius: 10px;
}