* {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

#welcome-page {
    width: 100vw;
    height: 100vh;
    background-color: #599aab;
}

#title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5.5rem;
    background-color: #ffffff00;
}

#welcome-image {
    overflow: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    filter: blur(4px);
    opacity: 50%;
    z-index: 0;
}

#star1 {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: 40%;
    left: 20%;
}

#star2 {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
    top: 80%;
    left: 80%;
}

#star3 {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 1;
    top: 40%;
    left: 90%;
}

#star4 {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 20%;
    left: 75%;
}

#star5 {
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 1;
    top: 10%;
    left: 10%;
}

#star6 {
    position: absolute;
    width: 140px;
    height: 140px;
    z-index: 1;
    top: 70%;
    left: 10%;
}

#star7 {
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 1;
    top: 5%;
    left: 30%;
}

#star8 {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: 85%;
    left: 50%;
}

#star9 {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    top: 20%;
    left: 90%;
}

#star10 {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    top: 10%;
    left: 80%;
}

#star11 {
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 1;
    top: 50%;
    left: 5%;
}

#star12 {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1;
    top: 10%;
    left: 5%;
}

#star13 {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: 60%;
    left: 80%;
}

#star14 {
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: 1;
    top: 20%;
    left: 20%;
}

#star15 {
    position: absolute;
    width: 110px;
    height: 110px;
    z-index: 1;
    top: 5%;
    left: 30%;
}

#star16 {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: 85%;
    left: 50%;
}